body {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

#back-top {
    margin-left: 60vw;
}

#return-button {
    margin-top: 11vh;
    font-size: 95%;
}

.alert.genre {
    margin-bottom: 4vh;
}


#search,
button.select-category {
    font-size: 150%;
}

#search a {
    text-decoration: none;
    color: inherit;
}

.alert {
    margin-top: 5vh;
}

.result-header {
    margin-top: 14vh;
    margin-bottom: 8vh;
}

.container.card {
    margin-top: 10vh;
    cursor: pointer;
    background-color: rgb(58, 145, 216);
    padding-top: 2vh;
    padding-bottom: 1vh;
}

.container.card  p.card-title, h4.card-h4 {
    color: white;
}

.container.card h4.card-h4 {
    margin-bottom: 2vh;
}


span #required {
    color: red;
    font-style: italic;
}

#view-instruction {
    width: 80%;
    margin: auto;
    font-style: italic;
    text-align: center;
}

.radios {
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.radio-container {
    font-size: 110%;
}

.radio-container label {
    margin-left: 0.5vw;
}


.filter-header{
    margin-top: 10vh;
}

.dropdown-container {
    width: 30%; 
    margin: auto;
}

.dropdown {
    width: 100%;
}

.image img {
    width: 70%;
    margin: auto; 
}

.expanded-view {
  width: 80%;
  margin: auto;
  font-size: 120%;
  display: flex;
  justify-content: space-between;
}

.expanded-view span {
    font-weight: bold;
}

.plot {
    width: 70%;
}

.details {
    width: 25%;
}

.image-selector {
    width: 100px;
    height: 100px;
}

.range {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 400px;
    margin-right: 400px;
}
.select-category {
    margin-top: 50px;
}

.alert {
    margin-left: 400px;
    margin-right: 400px;
}
.card {
    height: 100%;
}

.basic-options {
    margin-left: 300px;
    margin-right: 300px;
}

.resultCard {
    height: 180px;
}
.resultImg {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
/* Responsive typography */
/*
BASE (MOBILE) SIZE
These are the mobile styles. It's what people see on their phones.
Remember, keep it light: Speed is Important.
*/

/*
LARGER MOBILE DEVICES
This is for mobile devices with a bit larger screens.
*/
@media only screen and (min-width: 481px) {
}

/*
TABLET & SMALLER LAPTOPS
The average viewing window and preferred media query for those is 768px.
But I think that some more breathing space is good:)
*/
@media only screen and (min-width: 920px) {
}

/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 1030px) {
}

/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 1240px) {
}

/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/*
iPHONE 5 MEDIA QUERY
iPhone 5 or iPod Touch 5th generation styles (you can include your own file if you want)
*/
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
}

/*
PRINT STYLESHEET
*/
@media print {
}

/* slider */
.ds-progress {
    background: linear-gradient(#e66465, #9198e5);
  }
